*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*for navbar*/

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 80px;
    background-color: white;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navbar img{
    width: 85px;
    height: 65px;
}
#logo{
    margin: 0px 23px;
    margin-top: 4px;
    margin-left: 50px;
}
#navbar ul{
    display: flex;
    margin-left: 17px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
}
#navbar ul li a {
    color: black;
    display: block;
    padding: 8px 18px;
    margin: 20px 10px;
    margin-top: 20px;
    border-radius: 14px;
    text-decoration: none;
    font-size: 20px;
}
#navbar ul li a:hover{
    background-color: rgb(31, 180, 218);
    color: rgb(252, 250, 250);
}
#enroll{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}
#login {
    background-color: #3fa2f366;
    color: black;
    border-radius: 4px;
    margin-top: 17px;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
}
#login:hover {
    background-color: #3fa2f3ad;
}
#signup {
    padding: 15px 13px;
    font-size: 14px;
    color: black;
}
#signup #signuplink {
    text-align: center;
    text-decoration: none;
}
#signuplink:hover {
    cursor: pointer;
    color: rgb(8 8 8 / 70%);
}
#text{
    padding-top: 20px;
}
#logged-in{
    display: block;
    margin-left: auto;
    margin-right: 0px;
    height: 100%;
    width: 85px;
    justify-content: center;
}
#profile{
    background: url('/images/profile.jfif') no-repeat center center/cover;
    height: 56px;
    width: 60px;
    margin-top: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* for login */

.popup-loginform {
    display: none;
    position: fixed;
    top: 70px;
    right: 0px;
    border: 2px solid black;
    z-index: 9;
    border-radius: 10px;
}
.login-head > h1, .frgt-head > h1{
    margin-bottom: 15px;
    text-align: center;
}
.login-box{
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.login-box input[type=email], .login-box input[type=password], .frgt-psw-box input[type=email]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
#login-psw{
    margin-bottom: 5px;
}
.login-box input[type=email]:focus, .login-box input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.frgt{
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.login-box .btn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    border-radius: 10px;
    opacity: 0.8;
}
.login-box .cancel{
    background-color: red;
}
.login-box .btn:hover{
    opacity: 1;
}
.popup-signupform{
    display: none;
    position: fixed;
    top: 5px;
    left: 500px;
    z-index: 9;
}
.signup-head > h1{
    margin-bottom: 15px;
    text-align: center;
}
.signup-box {
    display: block;
    width: 500px;
    padding: 10px;
    background-color: rgb(245, 249, 250);
    border: 2px solid black;
    border-radius: 10px;
}
.signup-box > div{
    display: block;
    width: 100%;
}
.signup-box > div > label{
    padding-top: 15px;
    margin-right: 5px;
    font: bold;
}
.signup-box input[type=email], .signup-box input[type=password], .signup-box input[type=text], .signup-box input[type=tel]{
    width: 96%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: #ddd;
    outline: none;
}
.signup-box .select > select{
    margin-left: 5px;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.select{
    margin-bottom: 10px;
}
.select #dob{
    margin-left: 100px;
}
.select input[type=date]{
    padding: 5px;
}
.signup-box .select > label{
    margin-left: 20px;
    margin-right: 5px;
}
.signup-box .btn, .book_time_form .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 10px;
    margin-bottom:10px;
    opacity: 0.8;
}
.signup-box #signup_btn{
    margin-left: 50px;
    margin-right: 10px;
}
.signup-box .cancel, .book_time_form .cancel{
    background-color: red;
}
.signup-box .btn:hover, .book_time_form .btn:hover{
    opacity: 1;
}

/* for main */

.contact{
    position: relative;
    /* min-height: 10vh; */
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    background-size: cover;
}
.home{
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    height: 35vh;
    background: deepskyblue;
}
.home h1{
    font-size: 70px;
    color: #fff;
    font: bold;
    align-items: center;
    text-align: center;
}
.home p{
    font-size: 20px;
    font-weight: bold;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h1{
    font-size: 36px;
    font-weight: 500;
    /* color: #fff; */
}
.contact .content p{
    font-weight: 300;
    /* color: #fff; */
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* border: 2px solid red; */
    background: #fff;
}

.container .contactInfo {
    width: 35%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(88, 222, 226); */
    position: relative;
    top: 0;
}
.container .contactInfo .box {
    
    position: relative;
    padding: 10px 0px;
    display: flex;
    /* border: 2px solid rgb(77, 25, 221);width: 50%; */
}
.container .contactInfo .box img{
    width: 2rem;
}
.container .contactInfo h1{
    font-size: 2rem;
    padding: 10px 0;
    font-weight: bold;
}
.container .contactInfo p{
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.2rem;
}
.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text {
    display: flex;
    
    margin-left: 20px;
    font-size: 16px;
    /* color: #fff; */
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactForm {
    width: 35%;
    padding: 40px;
    /* background: #fff; */
    border-radius: 10px;
} 
.contactForm form h1{
    margin: 15px;
}
.contactForm form p{
    font-size: 1.rem;
    margin:15px;
}
.contactForm .inputBox{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.contactForm .inputBox input,textarea{
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}
.contactForm .inputBox1 .btn{
    width: 90px;
    padding: 8px;
    margin: 12px;
    border-radius: 20px;
    background: rgb(240, 120, 240);
    box-shadow: 2px 2px 2px 2px #888888;
    border: none;
    color: #fff;
    font-size: 15px;
    float: right;
    cursor: pointer;
}
.contactForm .inputBox1 .btn:hover{
    box-shadow: 2px 2px 2px 2px #e7a0f0;
    background: #00bcd4;
    transition: ease .5s;
    
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    background: hsl(0, 0%, 43%);
    color: whitesmoke;
}
.foot{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}
.foot h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.foot p{
    font-size: 15px;
    line-height: 35px;
    color: #cac7d4;
}
.footer .social{
    display: inline-block;
    background: #fff;
    align-items: center;
    justify-content: space-around; 
    
}

 .footer .social img{
    display: flex;
    width: 2.5rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    color: #ff9911;
    cursor: pointer;
} 
.footer .social img:hover{
    color: #ff9911;
}
.foot1 h2{
    margin-bottom: 3rem;
}
.footer1 {
    height: 40px;
    background-color: #3b3b3b;
    color: white;
    justify-content: center;
    text-align: center;  
}
.footer1 > p{
    padding-top: 13px;
}
